<div class="bg-white">
  <div class="pt-6">
    <!-- Image gallery -->
    <div
      class="mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8"
    >
      <div
        class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block"
      >
        <img
          src="https://tailwindui.com/img/ecommerce-images/product-page-02-secondary-product-shot.jpg"
          alt="Two each of gray, white, and black shirts laying flat."
          class="w-full h-full object-center object-cover"
        />
      </div>
      <div
        class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block"
      >
        <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
          <h1
            class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl"
          >
            {{course.name}}
          </h1>
        </div>
        <div
          class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8"
        >
          <!-- Description and details -->
          <div>
            <h3 class="sr-only">Descrição</h3>

            <div class="space-y-6">
              <p class="text-base text-gray-900">{{course.description}}</p>
            </div>
          </div>

          <div class="mt-10">
            <h3 class="text-sm font-medium text-gray-900">Modulos</h3>

            <div class="mt-4">
              <ul
                role="list"
                class="pl-4 list-disc text-sm space-y-2"
                *ngFor="let module of course.modules; let i = index"
              >
                <li class="text-gray-400">
                  <span class="text-gray-600">{{module.name}}</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Details</h2>

            <div class="mt-4 space-y-6">
              <p class="text-sm text-gray-600">
                The 6-Pack includes two black, two white, and two heather gray
                Basic Tees. Sign up for our subscription service and be the
                first to get new, exciting colors, like our upcoming
                &quot;Charcoal Gray&quot; limited release.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block"
      >
        <!-- Options -->
        <div class="mt-4 lg:mt-0 lg:row-span-3">
          <h2 class="sr-only">Product information</h2>
          <p class="text-3xl text-gray-900">$192</p>

          <!-- Reviews -->
          <div class="mt-6">
            <button
              type="submit"
              class="mt-10 w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              (click)="addToCart()"
            >
              Add to bag
            </button>
            <div class="mt-6">
              <button
                type="button"
                class="mr-4 font-medium text-gray-600 hover:text-gray-500"
              >
                Edit Course
              </button>
              <button
                type="button"
                routerLink="/course/{{ course.id }}/modules"
                [state]="course"
                class="mr-4 font-medium text-gray-600 hover:text-gray-500"
              >
                Modulos
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Product info -->
    </div>
  </div>
</div>
