<h2 class="mb-2 text-2xl font-extrabold tracking-tight text-gray-900">
  {{ course.name }} - Modulos
</h2>

<mat-expansion-panel *ngFor="let module of modules; let i = index" hideToggle>
  <mat-expansion-panel-header>
    <button
      mat-icon-button
      color="primary"
      matTooltip="editar"
      aria-label="editar"
      routerLink="/courses/{{ courseId }}/edit-module/{{ module.id }}"
      [state]="module"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <mat-panel-title> {{ module.number }} | {{ module.name }} </mat-panel-title>
    <mat-panel-description>
      {{ module.description }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngFor="let lesson of module.lessons; let i = index">
    <p>{{ lesson.name }}</p>
  </div>
</mat-expansion-panel>

<mat-expansion-panel
  hideToggle
  *ngIf="modules == null"
  [class.text-danger]="modules == null"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Nenhum modulo para esse curso. </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
<button
  type="button"
  routerLink="/course/{{ course.id }}/new-module"
  [state]="course"
  class="mt-4 bg-indigo-600 border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
>
  Add New Modulo
</button>
