<mat-card>
  <div class="example-container">
    <div class="row">
      <div class="col-sm-4">
        <div>
          <div class="col"></div>
        </div>
        <div>
          <div class="col">
            <h1 class="mat-h1">
              <strong>
                {{ courseService.courseDetail.name }}
              </strong>
            </h1>
            <h1 class="mat-h1">
              <strong>
                {{ courseService.moduleDetail.name }}
              </strong>
            </h1>
          </div>
        </div>
        <div class="col">
          <mat-divider></mat-divider>
          <button
            mat-stroked-button
            color="primary"
            matTooltip="editar modulo"
            aria-label="edit module"
          >
            editar
          </button>

          <button
            mat-stroked-button
            color="warn"
            matTooltip="excluir modulo"
            aria-label="delete modulo"
            (click)="confirmDialogDelete()"
          >
            excluir
          </button>
        </div>
      </div>
      <div class="col-sm">
        <mat-card>
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel
                *ngFor="let lesson of sortedLessons(); let i = index"
                hideToggle
                (click)="setLessonDetail(lesson)"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ lesson.name }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ lesson.description }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <mat-expansion-panel
                hideToggle
                *ngIf="courseService.moduleDetail.lessons == null"
                [class.text-danger]="courseService.moduleDetail.lessons == null"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Nenhuma Lição nesse Modulo.
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>

          <!-- botao add lesson-->
          <div class="button-wrapper">
            <button
              type="button"
              mat-stroked-button
              color="primary"
              matTooltip="criar Lição"
              aria-label="create Lição"
              routerLink="/{{ courseService.courseDetail.id }}/{{
                courseService.moduleDetail.id
              }}/new-lesson"
            >
              adicionar lição
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>
