<div class="max-w-0xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
  <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">
    Meu Cursos
  </h2>

  <div class="list-container">
    <div
      class="list-items flex flex-col sm:flex-row items-center justify-between mx-auto border-b py-4 dark:bg-gray-700 rounded-md my-1 px-4"
    >
      <div class="flex flex-row items-center space-x-4">
        <div
          class="w-full min-h-10 max-h-40 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none"
        >
          <img
            src="https://i.pravatar.cc/150?img=31"
            alt="default img"
            class="w-full h-full object-center object-cover lg:w-full lg:h-full"
          />
        </div>
        <div class="w-full">
          <h1 class="tracking-tight dark:text-gray-100">{{ user["email"] }}</h1>
          <p class="text-gray-500 font-light dark:text-gray-300">
            Curso descricao Curso descricao Curso descricao
          </p>
        </div>
      </div>
      <div>
        <button
          class="bg-green-100 rounded-md px-4 py-1 text-green-800 text-sm font-semibold mt-4 sm:mt-0"
        >
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>
