<div class="ml-4 flow-root lg:ml-6">
  <a routerLink="/cart-details" class="group -m-2 p-2 flex items-center">
    <!-- Heroicon name: outline/shopping-bag -->
    <svg
      class="flex-shrink-0 h-6 w-6 text-gray-400 group-hover:text-gray-500"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="white"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
      />
    </svg>
    <span
      class="ml-2 text-sm font-medium text-yellow-50 group-hover:text-gray-800"
      >{{ totalQuantity }}</span
    >
    <span class="sr-only">items in cart, view bag</span>
  </a>
</div>
